.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    font-size: 1.5rem;
}

.logo svg{
    font-size: 1rem;
}

nav{
    display: flex;
    
}

nav ul a{
    color: #D02A1B;
    text-decoration: none;
    font-weight: bold;
}

.news-card{
    max-width: 20%;
    height: 100%;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer p{
    text-align: center;
    color: 251715;
}